<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom du Robot</th>
          <th>Nom du Developpeur</th>
          <th>Prix</th>
          <th>Date Création</th>
        </tr>
        <tbody *ngFor="let produit of robots">
          <tr>
            <td>{{ produit.idRobot }}</td>
            <td>{{ produit.nomRobot }}</td>
            <td>{{ produit.nomDev }}</td>
            <td>{{ produit.prixRobot }}</td>
            <td>{{ produit.dateCreation | date: "dd/MM/yyyy" }}</td>
            <td>
              <a class="btn btn-danger" (click)="supprimerRobot(produit)">
                Supprimer
              </a>
            </td>
            <td>
              <a
                class="btn btn-success"
                [routerLink]="['/updateRobot', produit.idRobot]"
              >
                Modifier
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
